.cell {
    width: 35px;
    height: 35px;
    padding: 6.033px;
    background-color: #1ca289;
    margin: auto;
}

.tile {
    width: 27px;
    height: 27px;
    padding: 6.033px;
    background-color: #fceabe;
    margin: 2px;
    font-size: larger;
    text-align: center;
    display: inline-block;
    border: 4px solid #f5dfa6;
    box-shadow: -4px -4px 1px #fae1a1 inset;
}

.rack {
    margin: 40px;
}

.double-letter {
    background-image: url('./images/dbl_ltr.png');
}

.double-word {
    background-image: url('./images/dbl_wrd.png');
}

.triple-letter {
    background-image: url('./images/tpl_ltr.png');
}

.triple-word {
    background-image: url('./images/tpl_wrd.png');
}

.star {
    background-image: url('./images/star.png');
}

#board-table td {
    border: 5px solid #a8d7c3;
    padding: 0px;
}

#board-table {
    border: 10px solid black;
    border-collapse: collapse;
    table-layout: fixed;
    height: 841px;
    width: 841px;
}