.grab {
    cursor: grab;
    cursor: -webkit-grab;
}

.cell {
    width: 35px;
    height: 35px;
    padding: 6.033px;
    background-color: #1ca289;
    margin: auto;
}

.tile {
    width: 27px;
    height: 27px;
    padding: 6.033px;
    background-color: #fceabe;
    display: inline-block;
    border: 4px solid #f5dfa6;
    box-shadow: -4px -4px 1px #fae1a1 inset;
    position: relative;
}

.normal-tile {
    margin: 2px;
}

.in-cell-tile {
    margin-right: 2px;
    margin-left: 2px;
    margin-bottom: -5px;
    margin-top: -1px;;
}

.tile-text {
    position: absolute;
    top: 2px;
    left: 7px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bold;
    color: #0f6453;
}

.tile-value {
    position: absolute;
    bottom: 3px;
    right: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #0f6453;
}

.rack {
    margin: 30px;
    border-bottom: 10px solid rgb(6, 31, 15);
    border-right: 10px solid rgb(6, 31, 15);
    border-left: 10px solid rgb(6, 31, 15);
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #1ca289;
    box-shadow: -5px -5px 1px #206659 inset;
    min-width: 310px;
    min-height: 60px;
}

.double-letter {
    background-image: url('./images/dbl_ltr.png');
}

.double-word {
    background-image: url('./images/dbl_wrd.png');
}

.triple-letter {
    background-image: url('./images/tpl_ltr.png');
}

.triple-word {
    background-image: url('./images/tpl_wrd.png');
}

.star {
    background-image: url('./images/star.png');
}

#board-table td {
    border: 5px solid #a8d7c3;
    padding: 0px;
}

#board-table {
    border: 10px solid black;
    border-collapse: collapse;
    table-layout: fixed;
    height: 841px;
    width: 841px;
}